
body { margin: 0; } 
a { background-color: transparent; } 
a:active,
a:hover { outline: 0; } 
img { border: 0; } 
button { overflow: visible; } 
button,
select { text-transform: none; } 
button,
html input[type="button"], 
input[type="reset"],
input[type="submit"] { -webkit-appearance: button; cursor: pointer; } 
button[disabled],
html input[disabled] { cursor: default; } 

optgroup { font-weight: bold; } 

