* { padding: 0; margin: 0; } 
.wrap { width: 500px; margin: 0 auto; border: 1px solid #777; overflow: hidden; } 
.wrap > .box { float: left; width: 20%; border: 1px solid #777; box-sizing: border-box; height: 100px; } 
/* 부모에 릴레티브가 들어간 박스 기준으로 absolute가 움직임 (없으면 body기준) */
.wrap { position: relative; } 
/* .wrap > .box { position: relative; } */
.pos { background-color: yellow; position: absolute; left: 10px; bottom: 10px; z-index: 20; } 
/* relative는 내 위치에서 z축으로 끌어올림. */
.rel { background-color: red; position: relative; left: -70px; top:10px } 