* {padding: 0; margin: 0;}
ul, li {list-style: none;}
a {text-decoration: none;}
img {max-width: 100%; height: auto;}

/* 767이상 디자인 */
@media(min-width: 767px) {

    #wrap {
        width: 960px;
        border: 1px solid #777;
        margin: 0 auto;
    }
    #wrap .logo {
        height: 280px;
        background-image: url(images/bg.png);
    }
    #wrap .logo h3 {
        color: #ffff00;
        font-weight: 600;
        padding: 10px 20px;
    }
    #wrap nav {background-color: #c13333;}
    #wrap nav > ul > li{display: inline;}
    #wrap nav > ul > li > a{
        display: inline-block;
        padding: 20px 30px;
        color: #fff;
    }
    #wrap nav > ul > li > a:hover {
        background-color: #903;
    }

    #section {overflow: hidden;}
    #section > .left {float: left; width: 760px; padding: 20px; box-sizing: border-box;}
    #section > .right {float: right; width: 200px;}


    #footer {
        background-color: #222222;
        text-align: center;
        color: #fff;
        padding: 20px;
    }


}

/* 766이하 디자인 */
@media(max-width: 766px) {

    #wrap {
        /* width: 100%; */
        min-width: 350px; /* 최소 350px 이상부터 가변됨 */
    }
    #wrap .logo {
        background-image: url(images/bg.png);
        height: 280px;
    }
    #wrap .logo h3 {
        padding: 20px;
        color: #ffff00;
    }
    #wrap nav > ul > li > a {
        display: block;   
        text-align: center;
        background-color: #c13333;
        padding: 10px;
        color: #fff;     
    }
    #wrap nav > ul > li > a:hover {
        background-color: #903;
    }

    #section > .left {
        padding: 20px;
    }
    #section > .right {
        padding: 20px;
    }
    #section > .right > img {
        width: 100%;
    }

    
    #footer {
        background-color: #222222;
        text-align: center;
        color: #fff;
        padding: 20px;
    }

}

