/* 공통디자인 반영할 디자인 */
/* 웹폰트 */
@import url('https://fonts.googleapis.com/css2?family=Do+Hyeon&display=swap');

body, html {
    font-family: "Do Hyeon", sans-serif;
    font-weight: 400;
    font-style: normal;
}
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box; 
}
ul, li, ol, dl, dd {
    list-style: none; 
}
img {
    max-width: 100%;
    height: auto;
}

/* 부트스트랩의 기본 인풋디자인 변경 */
.form-control {border-radius: 0;}
.form-control:focus {border-color: #ccc; box-shadow: none;}
.btn {border-radius: 0;}








/* 
    input, select 등등 기본디자인을 직접 디자인 하는경우는
    브라우저별로 기본디자인을 지우고 커스터마이징
*/
/* 
input[type=checkbox], input[type=radio] {
    appearance: none;
    
    width: 20px;
    height: 20px;
    border: 1px solid #777;
    cursor: pointer;
} 

input[type=checkbox]:checked,
input[type=radio]:checked {
    outline: none; 
    background-color: #ffff00;
}
*/





